.logo-mobile{
     width: 67px;
    padding-left: 0px;
    padding-right: 39px;

}
.title-mobile {
    color: hsl(2, 58%, 49%);
    font-weight: bolder;
    font-size: 10px;
    padding-left: 0px;
    padding-right: 39px;
}

.header-red-container > div {
    display: inline-block;
}

    .icon-search .navbar-toggler-icon{
        background-image: url(https://www.freeiconspng.com/uploads/search-icon-png-2.png)!important;
            border-color: white !important;
        }
  

            .icon-store .navbar-toggler-icon{
                background-image: url(http://cdn.onlinewebfonts.com/svg/img_334009.png)!important;
                    border-color: white !important;
                }

                .col-menu {
                    margin-left: -27px !important;
                }
                
                .col-search {
                    margin-left: -27px !important;
                }
                